<footer class="footer">
    <div class="container-fluid">
        <!-- not viusalized in this version -->
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a target="_blank" href="https://github.com/kedenk">Kevin Denk</a>,
            Design by <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>
        </p>
    </div>
</footer>
