

<div class="card">
    <div class="header">
        <h4 class="title">Chat</h4>
        <p class="category">{{lecture.lecturename}}</p>
    </div>

    <div class="content">

        <div class="chat-message-container">
            <div class="row message-row" *ngFor="let msg of messages">
               <app-chat-message [chatMessage]="msg"></app-chat-message>
            </div>
        </div>

        <form class="form-inline " [formGroup]="chatForm" (ngSubmit)="onChatMessageSubmit()" novalidate>
            <div class="form-group chat-form-div">
                <input type="text" class="form-control chat-input-field" formControlName="chatMessage" autocomplete="off" placeholder="Your message..." required />
                <button type="submit" class="btn btn-primary chat-submit-button"><strong>Send</strong></button>
                <!-- <pre>{{chatForm.value | json}}</pre> -->
            </div>
        </form>
    </div>
</div>

