

<div class="col-md-1 col-xs-1 col-lg-1 text-center rateDiv">

    <!-- to visualize vote loading during processing -->
    <ngx-loading [show]="isAnswerVotingLoading"></ngx-loading>


    <span class="glyphicon glyphicon-chevron-up glyphicon-large glyphicon-vote" (click)="onAnswerUpvote(answer)" [ngClass]="{voted: answer.studentVote == 1}"></span>
    <p class="voteRatioLabel" *ngIf="answer.voteRatio"><strong>{{answer.voteRatio}}</strong></p>
    <p class="voteRatioLabel" *ngIf="!answer.voteRatio"><strong>0</strong></p>
    <span class="glyphicon glyphicon-chevron-down glyphicon-large glyphicon-vote" (click)="onAnswerDownvote(answer)" [ngClass]="{voted: answer.studentVote == -1}"></span>
</div>

<div class="col-md-11 col-xs-11 col-lg-11">
    <div class="card answerCard">
        <div class="content">
        <ng-container *ngIf="!isUpdateAnswerDialog">
            {{answer.textContent}}
        </ng-container>

        <ng-container *ngIf="isUpdateAnswerDialog">

            <!-- visualize loading during answer processing -->
            <ngx-loading [show]="isAnswerUpdateSending"></ngx-loading>

            <textarea class="form-control" [(ngModel)]="changedAnswerContent" title="Textarea to update this answer."></textarea>
            <button type="button" class="btn btn-primary" (click)="sendAnswerUpdate( answer )">Update</button>
            <button type="button" class="btn btn-danger" (click)="closeUpdateAnswerDialog()">Abort</button>
        </ng-container>
        <hr/>
        <div class="stats">
        Written by <strong>{{answer.author.username}}</strong>
        <a class="myLink" (click)="showUpdateAnswerDialog( answer )" *ngIf="isAnswerAuthor( answer )"> -- Update Answer</a>
        </div>
        </div>
    </div>

</div>