<ngx-loading [show]="isLoading"></ngx-loading>

<div *ngIf="question !== undefined">

  <div class="col-md-1 col-xs-1 text-center rateDiv">
    <ngx-loading [show]="isVotingLoading"></ngx-loading>
    <span class="glyphicon glyphicon-chevron-up glyphicon-large glyphicon-vote"
          (click)="onQuestionUpvote(question)"
          [ngClass]="{voted: question.studentVote == 1}"></span>
    <strong><p class="voteRatioLabel" *ngIf="question.voteRatio">{{question.voteRatio}}</p></strong>
    <strong><p class="voteRatioLabel" *ngIf="!question.voteRatio">0</p></strong>
    <span class="glyphicon glyphicon-chevron-down glyphicon-large glyphicon-vote"
          (click)="onQuestionDownvote(question)"
          [ngClass]="{voted: question.studentVote == -1}"></span>
  </div>


  <div class="col-md-11 col-xs-11">
    <div class="card questionCard">

      <div class="header">
        <!--<h5 class="title"><strong>{{question.author.username}}</strong> asked:</h5>-->
      </div>

      <!-- Question text content with hottest answers -->
      <div class="content">
        <!-- shows the content of the question -->
        <ng-container *ngIf="!isUpdateDialog">
          <h5>{{question.textContent}}</h5>
        </ng-container>

        <!--
          if isUpdateDialog is true, a textarea is shown
        -->
        <ng-container *ngIf="isUpdateDialog">
          <textarea type="text" class="form-control" placeholder="Your question text" [(ngModel)]="changedQuestionContent"></textarea>
          <small>Question must be at minimum {{minQuestionContentLength}} character long.</small>
          <br/>

          <button class="btn btn-primary" (click)="sendUpdatedQuestion()" [disabled]="!changedQuestionValid()">Send</button>
          <button class="btn btn-danger" (click)="closeUpdateDialog()">Abort</button>
        </ng-container>

        <hr/>
        <div class="stats">
          Written by <strong>{{question.author.username}}</strong>
          <a class="myLink"
             (click)="showUpdateDialog()"
             *ngIf="isAuthor()"> -- Update Question</a>

          <button class="btn btn-primary"
                  style="margin-left: 20px;"
                  (click)="showAnswerDialog()"
                  [disabled]="isAnswerDialog"
                  *ngIf="!isAnswerDialog">Write Answer</button>
        </div>


        <!--
          dialog to write an answer
        -->
        <div *ngIf="isAnswerDialog">
          <ngx-loading [show]="isAnswerSending"></ngx-loading>

          <div class="card">
            <div class="header">
              <h4 class="title">Write an answer</h4>
            </div>
            <div class="content">
              <div class="form-group">
                <label>Answer</label>
                <textarea class="form-control" placeholder="Your answer..." [(ngModel)]="newAnswerTextContent"></textarea>
                <small>Answer must be at minimum {{minAnswerLength}} character long.</small>
              </div>
              <button class="btn btn-primary" (click)="sendNewAnswer()" [disabled]="!newAnswerValid()">Send</button>
              <button class="btn btn-danger" (click)="closeNewAnswerDialog()">Abort</button>
            </div>
          </div>

        </div>

        <hr/>


        <!-- some answers for this question -->
        <h3 *ngIf="answers.length > 0">
          Answers
          <small>
            <a *ngIf="onlyPreview && answers && answers.length > 1"
               class="myLink"
               (click)="showAllAnswers( true )"
            >All answers</a>
            <a *ngIf="!onlyPreview"
               class="myLink"
               (click)="showAllAnswers( false )"
            >Only hottest answer</a>
          </small>
        </h3>
        <!-- show all answers -->
        <ng-container *ngIf="!onlyPreview && answers">

          <div class="row" *ngFor="let answer of answers"
               [@onAnswerChangedAnimation]="answerChangedState" (@onAnswerChangedAnimation.done)="endNotifyAnswerChanged()">

            <!-- answerview -->
            <app-answerview [answer]="answer"
                            (onAnswerTextChanged)="changeAnswerText( event )"
                            (onAnswerVoteChanged)="answerVoteChanged( event )"
            ></app-answerview>

          </div>
        </ng-container>

        <!-- show only hottest answer -->
        <ng-container *ngIf="onlyPreview && answers && answers[0]">
          <div class="row"
               [@onAnswerChangedAnimation]="answerChangedState" (@onAnswerChangedAnimation.done)="endNotifyAnswerChanged()">

            <app-answerview [answer]="answers[0]"
                            (onAnswerTextChanged)="changeAnswerText( event )"
                            (onAnswerVoteChanged)="answerVoteChanged( event )"
            ></app-answerview>

          </div>
        </ng-container>


        <!--
          Buttons to toggle the answer view (all answers or only the hottest one
        -->
        <hr *ngIf="answers.length > 0" />
        <div class="stats">
          <a *ngIf="onlyPreview && answers && answers.length > 1"
             class="myLink"
             (click)="showAllAnswers( true )"
          >All answers</a>
          <a *ngIf="!onlyPreview"
             class="myLink"
             (click)="showAllAnswers( false )"
          >Only hottest answer</a>
        </div>
        <!--
        <button type="button" class="btn btn-primary" (click)="showAllAnswers( false )" *ngIf="!onlyPreview">Show only hottest answer</button>
        <button type="button"
                class="btn btn-primary"
                (click)="showAllAnswers( true )"
                *ngIf="onlyPreview"
                [disabled]="answers.length <= 1">Show all Answers</button> -->
      </div>

    </div>
  </div>
</div>