
<div class="main-content">

    <div class="container-fluid">
        <!-- Common Lecture informations -->
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{lecture.lectureName}}</h4>
                        <p class="category">{{lecture.lectureDescription}}</p>
                    </div>
                    <div class="content"></div>
                </div>
            </div>

            <!-- mood of the course -->
            <div class="col-md-4">
                <ngx-loading [show]="moodIsLoading" ></ngx-loading>

                <div class="card">
                    <div class="header">
                        <h4 class="title">Course Mood</h4>
                        <!-- <p class="category">The size of the icon shows the distribution of votes. Big icon, many votes. For a vote click on your opinion.</p> -->
                    </div>

                    <div class="content">
                        <div class="row">
                            <!-- Positive mood icon -->
                            <div class="col-md-4 text-center">
                                <img src="/assets/img/positive_smiley.png"
                                     (click)="sendMood( 1 )"
                                     class="img-fluid mood-icon"
                                     [style.width.%]="moodPosIconSize"
                                     [ngClass]="{'mood-icon-selected': userLectureMood === 1}"
                                >
                            </div>
                            <!-- Neutral mood icon -->
                            <div class="col-md-4 text-center">
                                <img src="/assets/img/neutral_smiley.png"
                                     (click)="sendMood( 0 )"
                                     class="img-fluid mood-icon"
                                     [style.width.%]="moodNeutIconSize"
                                     [ngClass]="{'mood-icon-selected': userLectureMood === 0}"
                                >
                            </div>
                            <!-- Negative mood icon -->
                            <div class="col-md-4 text-center">
                                <img src="/assets/img/negative_smiley.png"
                                     (click)="sendMood( -1 )"
                                     class="img-fluid mood-icon"
                                     [style.width.%]="moodNegIconSize"
                                     [ngClass]="{'mood-icon-selected': userLectureMood === -1}"
                                >
                            </div>
                        </div>
                        <!--
                        <br/>
                        <p>Your vote: {{userLectureMood}}</p>
                        -->
                        <hr/>
                        <div class="stats">
                            <i [ngClass]="footerIconClass"></i> {{ moodLastUpdateMessage }}
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- Div for the chat -->
            <div class="col-md-6 chat-container">
                <app-chat [(lecture)]="lecture"></app-chat>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h5 class="title">Live Stream</h5>
                    </div>

                    <div class="content">
                        <a target="_blank" href="/assets/img/video-thumbnail.jpg">
                            <img src="/assets/img/video-thumbnail.jpg" class="img-thumbnail" alt="Live Stream">
                        </a>
                        <br/>
                        <p>Currently no live stream available...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Div for the question answer section -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">

                        <h4 class="title">Question - Answer - Section</h4>
                        <p class="category">Here you can ask questions related to this course. The questions are ordered by their rating.
                            The hottest ones are the first. </p>

                        <button class="btn btn-primary" (click)="showNewQuestionDialog()" *ngIf="!isQuestionDialog">Ask Question</button>

                    </div>

                    <div class="content">
                        <!-- new question -->
                        <div class="row newQuestionDialogDiv" *ngIf="isQuestionDialog">
                            <ngx-loading [show]="isQuestionAdding"></ngx-loading>

                            <hr/>
                            <textarea type="text" class="form-control" [(ngModel)]="newQuestionContent" placeholder="Type your question..." minlength="50"></textarea>
                            <br/>
                            <button type="button" class="btn btn-primary" (click)="sendNewQuestion()">Ask Question</button>
                            <button type="button" class="btn btn-danger" (click)="closeNewQuestionDialog()">Abort</button>

                            <hr/>
                        </div>

                        <app-questionoverview [lectureId]="lecture.lectureID"></app-questionoverview>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>