<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div *ngIf="!isLoggedIn()">

            <div class="main-content">

                <div class="container-fluid">
                    <!-- Common Lecture information -->
                    <div class="row">

                        <div class="card col-md-4 col-md-offset-4 text-center">
                            <div class="header">
                                <a href="http://www.uni-saarland.de" target="_blank">
                                    <img src="../assets/img/UdS-Logo.jpg" class="img-responsive"/>
                                </a>
                                <h4 class="title uniMainColor"><strong>Lecture HUB</strong></h4>
                                <br/>
                                <h5 class="title">Login</h5>
                            </div>

                            <div class="content ">

                                <!--
                                    Login form if no user is logged
                                -->
                                <form class="form-inline " [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

                                    <br/>
                                    <div class="form-group">
                                        <label>Type here your desired <strong>username</strong></label>
                                        <br/><br/>
                                        <input type="text"
                                               class="form-control"
                                               formControlName="username"
                                               autocomplete="off"
                                               minlength="minUsernameLength"
                                               maxlength="maxUsernameLength"
                                               placeholder="Username"
                                               title="Your username. A username with a length between 5 and 12 character."
                                               required />
                                        <button type="submit"
                                                class="btn btn-primary"
                                                title="'Login' with the selected username"
                                                [disabled]="!this.loginForm.valid"
                                                ><strong>Login</strong></button>

                                        <br/>
                                        <small *ngIf="username.dirty && username.errors?.minlength">
                                            Username should have a length of {{minUsernameLength}}.
                                            ({{minUsernameLength - username.value.length}} character left)
                                        </small>
                                        <small *ngIf="username.errors?.maxlength">Max username length is {{maxUsernameLength}}.</small>

                                        <br/>
                                        <br/>
                                        <div *ngIf="loginErrorMessage" class="alert alert-danger" role="alert">
                                            <p ><strong>{{loginErrorMessage}}</strong></p>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
            If user is logged router-outlet will be used
        -->
        <div *ngIf="isLoggedIn()">

            <router-outlet></router-outlet>
            <div *ngIf="isMap('maps')">
                <footer-cmp></footer-cmp>
            </div>

        </div>
    </div>
</div>
